.packages__title
  margin: 40px 0 65px 0
  text-align: center
  font-size: 36px

.packages-wrapper
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr
  grid-column-gap: 10px
  grid-row-gap: 1px
  margin-bottom: 70px

.photo
  position: absolute
  display: grid
  width: 367px
  height: 500px
  border-radius: 8px

.tour-card1
  display: grid
  width: 364px
  height: 500px
  justify-items: stretch
  grid-gap: -15px

.miniphoto
  width: 350px
  height: 250px
  border-radius: 8px

.tour__card1-information
  display: grid
  width: 364px
  height: 500px
  background-color: #0A223D
  color: #ffffff
  padding: 47px 21px 35px 44px
  margin-left: -13px
  border-radius: 8px

.tour__card2-information
  width: 364px
  height: 250px
  border-radius: 8px

.total, .total2
  font-style: bold
  font-size: 24px
  line-height: 30px

.packages_button, .packages_button2
  width: 120px
  height: 40px
  background-color: #ec1f46
  color: #ffffff
  font-size: 19px
  border-radius: 8px
  outline: none

.haven, .haven2,
  display: flex
  justify-content: space-between
  padding-top: 10px

.tour__card2-information
  width: 350px
  background-color: #0A223D
  color: #ffffff
  text-align: left
  line-height: 25px
  padding: 8px 21px 35px 32px
  margin-top: -8px

.tour__card3-information, .tour__card4-information, .tour__card5-information
  width: 350px
  height: 250px
  background-color: #0A223D
  color: #ffffff
  text-align: left
  line-height: 25px
  padding: 8px 21px 35px 32px
  margin-top: -10px
  border-radius: 8px

.tour-card2
  padding-bottom: 37px

.ink
  font-size: 18px

.cross
  text-decoration: line-through

.offer
  position: relative
  top: -410px
  left: -405px

.offer2, .offer3, .offer4, .offer5
  position: relative
  top: -470px

.haven
  margin-top: 10px
